/* modificadores */

// generales 

/// Topicos 

.topico:hover {
    font-weight: bold;
    //efecto 'glow' en #topicos
    text-shadow:
        0 0 7px white,
        0 0 10px white,
        0 0 21px white,
        0 0 42px $naranja,
        0 0 82px $naranja,
        0 0 92px $naranja,
        0 0 102px $naranja,
        0 0 151px $naranja;
    cursor: pointer;
}

/// nav 

nav img {
    @include wdt-hgt(1.25em, auto);
    position: relative;
    top: 0;
}

/// ul 

ul li {
    //se usa en nav y footer
    display: inline-block;
    list-style-type: none;
}

/// otros

.flexCenter {
    //afecta a index, membresia y nuestrahistoria
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hero__h1--font {
    //afecta a index, membresia y nuestrahistoria
    background-color: $verde4;
    color: $marron;
    letter-spacing: 3px;
    font-weight: bold;
}

/////////////////////////////// INDEX /

/// index__hero /

.hero h1 {
    font-size: 3.3em;
}

#imgHero {
    background: linear-gradient(to left, $marron, $naranja);
}

#imgHero img {
    @include wdt-hgt(100%, 100%);
    border-radius: .1em;
    margin: auto;
    box-shadow: 0 0 .3em $marron;
    opacity: 0.7;
}

/// index__tendencias /
.tendencias {
    .tendencias__ol {
        p {
            margin-top: .5em;
            margin-bottom: .5em;
        }

        @for $i from 1 through 6 {

            .tendencias__ol--ico#{$i} {
                list-style-image: url(../assets/iconos/#{$i}.svg);
                padding: .5em;

                &:hover {
                    transform: scale(1.005, 1.005);
                    transition: transform .2s ease-in-out;
                    border-radius: 5px;
                    background-color: rgba(129, 212, 189, 0.5);
                    box-shadow: 0 0 .3em $naranja;
                }
            }
        }

        .tendencias__ol__h3--caps {
            text-transform: capitalize;
            font-weight: 300;
        }
    }
}

/// index__publicaciones /
.publicaciones {
    margin: .5em 0 .5em .5em;
    border-radius: 5px;
    h3,
    form {
        margin: 0 .5em .5em 0;
    }

    .publicaciones__articulo {
        margin: .5em .5em .5em 0;
        border-radius: 5px;
        border-style: none;
        background-color: #81d4bc9c;
        color: rgb(32, 32, 32);
        overflow: hidden;

        .publicaciones__articulo--ml {
            margin-left: 2%;
            margin-top: 2%;
            width: 65%;

        }

        .publicaciones__articulo--marron {
            color: $marron;
        }

        .publicaciones__articulo--ml-10-mb-2 {
            margin-left: 10%;
            margin-bottom: 2%;
            display: inline-block;
            //agregado de estilo a #topicos en articulos
            @extend .topico;
        }

        .articulo__contenido {
            display: flex;
            justify-content: space-between;
            margin: 1%;
            width: 93%;
        }

        .articulo__contenido--order-width50 {
            order: -1;
            width: 50%;
        }

        .articulo__contenido--mx {
            margin-left: 1%;
            margin-right: 2%;
        }

        .articulo__contenido--161px {
            border: solid $verde2;
            border-radius: 5px;
            @include wdt-hgt(161px, 86%);
        }

        &:hover {
            transform: scale(1.005, 1.005);
            transition: transform .2s ease-in-out;
            box-shadow: 0 0 .5em $marron;
        }
    }
}

/// index__aside /

.indexGrid__aside a {
    color: $naranja;
    text-decoration: none;
}

/// index__footer /

.indexGrid__footer--font-p {
    padding-top: .5em;
    font-size: .7em;
}

///////////////////////// NUESTRAHISTORIA /

// nuestrahistoria__hist /
.hist iframe {
    height: 100%;
    max-width: 50%;
}

.hist p {
    height: 95%;
    padding: 1em;
}

//////////////////////////////////////// MEMBRESÍA /

// membresía__hero /

.memHero h1 {
    font-size: 4em;
}

.memHero button {
    @include wdt-hgt(auto, 100%);
}

// membresía__haceteMiembro /

.promo::before {
    background-image: url(../assets/letters-of-lead-1426501-1279x957.jpg);
    background-repeat: no-repeat;
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

.promo h3 {
    color: $verde1;
    position: relative;
    text-align: center;
    font-size: 3em;
}

.promo a {
    position: relative;
    /* TIENE QUE ESTAR RELATIVE PARA QUE NO TOME OPACITY */
    @extend .boton1;
    //agregado estilo a #topicos
    background-color: $marron;
    //color de boton 'hacete miembro'
}


/////////////////////////////////////// ESCRIBIR /

// escribir__hero /

.escrHero h1 {
    color: $verde1;
    font-size: 2.5em;
    align-self: flex-start;
}

.escrHero p {
    align-self: flex-start;
    max-width: 70%;
}

.escrHero a {
    align-self: center;
    background-color: $marron;
    //color boton 'comenza a escribir'
}

.escrHero img {
    height: 100%;
    max-width: 55vw;
    box-shadow: 0 0 .3em $marron;
}

// escribir__tituloEscritores /

.escrHero #escrHeroTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1rem;
    padding-right: 1rem;
}

// escribir__escritores /

.escritores ul {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    border-top: 1px solid $naranja;
    height: 100%;
    //layout columna escritores y borde superior
}

.escritores ul li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $naranja;
    height: 20%;
    color: $verde4;
    padding: .5em 0;
    //nombres de escritores
}

.escritores img {
    border-radius: 3rem;
    margin-right: 1rem;
    height: 100%;
    //avatares
}

////////////////////////////// LOGIN /

// login__nav /

.loginGrid nav {
    //retoques al nav para login
    justify-self: stretch;
    border-bottom: 1px solid $naranja;

    img {
        vertical-align: inherit;
    }

    ul {
        margin: 0;
        padding-left: 0;
    }

}

// login__form /

.login__form-title {
    margin-bottom: 5%;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.login a {
    background-color: $marron;
    /*color boton iniciar sesion*/
}

.animate__animated.animate__fadeIn {
    --animate-delay: 1s;
}

// login__footer /

.loginFooter a {
    color: $naranja;
}

// ERROR 404

.background-errorpage {
    background-image: url(../assets/error.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.errorpage__main .errorpage__main__home {
    color: $verde4;
}