/* LAYOUT GENERAL */

nav {
    grid-area: nav;
    background-color: $fondo;
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    z-index: 1;
    height: 100%;
    padding-top: 2px;
}

.indexGrid {
    background-color: $fondo;
    display: grid;
    margin-left: 2px;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);
    max-width: 118.75em;
}

.memGrid {
    background-color: $fondo;
    display: grid;
    margin-left: 2px;
    grid-template-rows: auto repeat(3, 48vh) 1fr;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "nav nav"
        "memHero memHero"
        "elem1 elem2"
        "elem3 elem3"
        "elem4 elem4";
    justify-items: center;
    align-items: center;
}

.histGrid {
    background-color: $fondo;
    margin-left: 2px;
    display: grid;
    grid-template-rows: auto repeat(3, 48vh) 1fr;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "nav nav"
        "histHero histHero"
        "hist hist"
        "videoH videoH"
        "histFooter histFooter";
}

.escrGrid{
    background-color: $fondo;
    margin-left: 2px;
    display: grid;
    grid-template-rows: auto 55vh 48vh 1fr;
    grid-template-columns: 45% 55%;
    grid-template-areas:
        "nav nav"
        "escrHero escrHero"
        "escritoresTitle escritores"
        "escrFooter escrFooter";
}

.loginGrid{
    background-color: $verde4;
    margin-left: 2px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: auto 40vh 52.3vh auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "loginHero"
        "login"
        "loginFooter";
}

///////////////////////////////////////////////// INDEX /

// index__hero /

.hero {
    grid-area: hero;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    column-gap: 1%;
    text-align: center;
    background:$verde4;
}

// index__tendencias /

.tendencias {
    display: flex;
    flex-direction: column;
    grid-area: tendencias;
    border-top: 2px solid $verde1;
    border-bottom: 2px solid $verde1;
    justify-content: space-evenly;

    .tendencias__ol {
        display: grid;
        list-style-position: inside;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5em;
        margin-left: 1.5em;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        letter-spacing: 2px;
        word-spacing: 2px;
        line-height: 1.3;
        .tendencias__ol__fecha--color{
            opacity: .5;
        }
    }
    
}

// index__publicaciones /

.publicaciones {
    grid-area: publicaciones;
    min-width: 320px;
}

// index__aside /

.indexGrid__aside {
    grid-area: topicos;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .aside__ol {
        display: grid;
        list-style: none;
        grid-template-columns: repeat(3, 8em);
        grid-template-rows: repeat(3, 1fr);
        justify-content: space-evenly;
        align-content: center;
        align-self: center;
        justify-items: center;
        row-gap: .5em;
        width: 70%;
        .aside__ol--justCntr {
            justify-self: center;
        }
    }
    
}


// index__footer //

.indexGrid__footer {
    grid-area: footer;
    border-top: 2px solid $verde4;
}


/////////////////////////////////////// NUESTRAHISTORIA /

// hist__hero /

.histHero{
    grid-area: histHero;
    font-size: 2.5em;
}

// hist__hist /

.hist{
    grid-area: hist;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $naranja;
    border-top: 2px solid $verde1;
    border-bottom: 2px solid $marron;
}

// hist__videoH /

.videoH{
    grid-area: videoH;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:$verde4;
    color: $marron;
    padding-left: 1em;
}

// hist__footer /

.histFooter{
    grid-area: histFooter;
    align-items: flex-start;
    justify-content: flex-end;
    border-top: 2px solid $marron;
    width: 100%;
}

/////////////////////////////////////////////// MEMBRESÍA /

.memGrid nav {
    justify-self: stretch;
}

#memHero {
    width: 100%;
    height: 100%;
    grid-area: memHero;
    justify-content: space-around;
    border-bottom: 2px solid $marron;
}

// membresía__COLUMNA1 /
#elem1 {
    width: 100%;
    height: 100%;
    padding: 1em;
    grid-area: elem1;
    border-right: 2px solid $marron;
    background-color:$naranja;
    justify-content: space-evenly;
}

// membresía__COLUMNA2 /
#elem2 {
    width: 100%;
    height: 100%;
    padding: 1em;
    grid-area: elem2;
    background-color:$naranja;
    justify-content: space-evenly;
}

// membresía_haceteMiembro /

#elem3 {
    width: 100%;
    height: 100%;
    grid-area: elem3;
    border-top: 2px solid $marron;
    font-size: 3em;
    /* no quitar position: relative. importante para que funcione opacidad del fondo*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

// membresía__footer /

#elem4 {
    width: 100%;
    grid-area: elem4;
    align-items: flex-start;
    justify-content: flex-end;
    border-top: 2px solid $marron;
}

/////////////////////////////////////////////// ESCRIBIR /

// escribir__hero /
.escrHero{
    grid-area: escrHero;
    display: flex;
    flex-direction: row;
    background-color: $verde4;
    justify-content: space-between;
    align-items: space-around;
}

// escribir__tituloEscritores /

.escritoresTitle{
    grid-area: escritoresTitle;
    font-size: 2em;
    background-color:$verde1;
    color: $fondo;
}

// escribir__escritores /

.escritores {
    grid-area: escritores;
    background-color:$verde1;
}

// escribir__footer /

.escrFooter{
    grid-area: escrFooter;
    align-items: flex-start;
    justify-content: flex-end;
    border-top: 2px solid $marron;
    width: 100%;

}

//////////////////////////////////////////////// LOGIN /

// login__hero /

.loginHero {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: loginHero;
    color: $naranja;
    background-color: $verde2;
    height: 100%;
    width: 100%;
}
.login{
    grid-area: login;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginFooter{
    grid-area: loginFooter;
    justify-self: stretch;
    border-top: 2px solid $verde1;
    background-color: $marron;
}