/* IMPORTS */

@import "base";
@import "layout";
@import "components";

/* MEDIA QUERY */

@media screen and (max-width: 720px) {
    body {
        font-size: 13px;
    }

    div#imgHero {
        display: none;
    }

    .indexGrid {
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            "nav nav nav"
            "hero hero hero"
            "publicaciones publicaciones publicaciones"
            "topicos topicos topicos"
            "footer footer footer";

        .tendencias {
            display: none;
        }

        .publicaciones {
            margin-top: .5em;
        }

        .indexGrid__aside {
            margin: .5em;

            .aside__ol {
                grid-template-columns: repeat(3, 8em);
            }
        }

        .hero {
            border-bottom: black solid 1px;
            grid-template-columns: 1fr;
            padding: 1em;
        }
    }

    .escrHero img {
        display: none;
    }
}

@media screen and (min-width: 721px) {
    body {
        font-size: 14px;
    }

    .indexGrid aside ol {
        justify-content: start;
        align-self: start;
    }

    .tendencias {
        .tendencias__ol {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.histGrid {
    grid-template-columns: 70% 30%;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 16px;
    }

    .tendencias {
        .tendencias__ol {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .histGrid {
        grid-template-columns: 60% 40%;
    }
}